<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>952162103925-cem1ldhvauuhfg9fb05cg2t6frrbbq67.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.952162103925-cem1ldhvauuhfg9fb05cg2t6frrbbq67</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>952162103925-k9hb7da7ibh8ru0qblq5314of72j9k9l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDbuBLDavnT9T6hFu7X8G0Ytm0B1FyANkw</string>
	<key>GCM_SENDER_ID</key>
	<string>952162103925</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tourList</string>
	<key>PROJECT_ID</key>
	<string>tour-list-84457</string>
	<key>STORAGE_BUCKET</key>
	<string>tour-list-84457.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952162103925:ios:c37991f9ac92941dc47e3c</string>
</dict>
</plist>